.home {
    height: 100%;
    width: 100%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Varela', sans-serif;
    font-size: 50px;
    user-select: none;
}

.header {
    margin: 0;
    text-align: center;
    color: black;
    padding-top: 20px;
    font-size: 7vw;
}

.header > sup {
    letter-spacing: 3px;
    margin-left: 3px;
}

.header > img {
    height: 2%;
    width: 8%;
}
.image-container {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.image-div {
    border-bottom: 2px solid black;
    padding: 3%;
}

.image-container > .image-div {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    align-items: center;
}

.image-container > .image-div > img {
    width:70%;
    height: 60%;
    border-radius: 0.5rem;
    flex: 60%;
    box-shadow:2px 2px 20px 5px;
}

.image-container > .image-div > p {
    text-align: center;
    font-size: 20px; 
    flex: 40%;
    padding: 1rem;
}

.image-container > .image-div > p > strong {
    font-size: 30px;
}

.image-container > h2 {
    text-align: center;
    font-size: 50px;
    color: lightgrey; 
}

.image-container > h2 > a {
    text-decoration: none;
    color: midnightblue;
}

.image-container > h2 > a:hover {
    filter: brightness(140%);
}


@media screen and (max-width: 700px) {
    .image-container > .image-div {
        flex-direction: column;
    }
}