.contact {
    background-color: black;
}
.contact > h2 {
    text-align: center;
    color: white;
    padding-top: 2rem;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 2rem;
    gap: 1rem;
}

.contact-icons > * {
    flex: 1 1 30%;
    text-align: center;
}

.contact-icon p {
    color: white;
}

.contact-phone number {
    color: white;
}

/* .contact-row-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.contact-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
} */

