.collection-preview {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 3rem 0 0 6rem; */
    padding: 4%;
    gap: 1rem;
    align-self: center;
}

@media screen and (max-width: 650px) {
    .collection-preview {
        grid-template-columns: repeat(1, 1fr);
    }
}